<!DOCTYPE html>
<html>
  <head>
    <title>MotorGuide</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
 <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
<header class="p-3 bg-danger text-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a class="navbar-brand" href="/"><strong><span style="color: #000000;">Motor</span><span style="color: #ffc107 ;">Guide</span></strong></a>
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-dark">Home</a></li>
          <li><a href="#" class="nav-link px-2 text-dark">Features</a></li>
          <li><a href="#" class="nav-link px-2 text-dark">Pricing</a></li>
          <li><a href="#" class="nav-link px-2 text-dark">FAQs</a></li>
          <li><a href="#" class="nav-link px-2 text-dark">About</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
        </form>

        <div class="text-end">
          
          <% if current_user %>
        
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn btn-outline-light me-2'%>
            <%= link_to 'Edit', edit_user_registration_path, class: 'btn btn-outline-light me-2'%>

          <% else %>
            <div style="right: 1000px;">
            <%= link_to 'Вхід',new_user_session_path,class: 'btn btn-warning'%>
          <% end %>

        </div>
      </div>
    </div>
  </header>


    <%= yield %>
  </body>
</html>
